<div id="content">
  <h1>laboratorio #5</h1>
  <div id="calculadora">
    <div id="inputs">
      <div id="number-input">
        <label for="Num1">Ingrese un número</label>
        <input
          type="number"
          id="Num1"
          placeholder="Ingrese un Operador"
          [(ngModel)]="num1"
        />
      </div>
      <div id="number-input">
        <label for="Num1">Ingrese un número</label>
        <input type="number" id="Num2" [(ngModel)]="num2" />
      </div>
    </div>
    <div id="operators">
      <button (click)="suma()">Suma</button>
      <button (click)="resta()">resta</button>
      <button (click)="multiplicacion()">multiplicacion</button>
      <button (click)="divsion()">division</button>
      <button (click)="potencia()">Potencia</button>
    </div>
    <div id="resultado">
      <div id="numer-result">
        <strong>Resultado: {{ resultado }}</strong>
      </div>
    </div>
  </div>

  <div id="RGB">
    <div id="color-inputs">
      <div id="colorin">
        <label for="Color-red"> Rojo</label>
        <input type="number" id="Color_red" [(ngModel)]="color_red" />
      </div>
      <div id="colorin">
        <label for="Color-blue"> Azul</label>
        <input type="number" id="Color_blue" [(ngModel)]="color_blue" />
      </div>
      <div id="colorin">
        <label for="Color-green"> Verde</label>
        <input type="number" id="Color_green" [(ngModel)]="color_green" />
      </div>
    </div>
    <div id="color-result">
      <div
        id="color-square"
        style="background-color: rgb({{ color_red }}, {{ color_green }},{{
          color_blue
        }} );"
      ></div>
    </div>
  </div>
</div>
